import /vendor/etc/init/hw/init.common.rc

on init
    insmod /vendor/lib/modules/tlsc6x.ko
    insmod /vendor/lib/modules/mir3da.ko
    setprop qemu.hw.mainkeys 0

on post-fs-data
    mkdir /data/local/slogmodem 0770 shell system

#modify permission for voicetrigger dev
    chown system  audio /dev/rt5512
    chmod 660     /dev/rt5512

service dhcpcd_wlan0 /system/bin/dhcpcd -ABKL
    group system dhcp
    disabled
    oneshot

service dhcpcd_p2p /system/bin/dhcpcd -ABKL
    group system dhcp
    disabled
    oneshot

service dhcpcd_ipv6 /system/bin/dhcpcd -6ABKL
    group system dhcp
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    group system dhcp
    disabled
    oneshot

service iprenew_p2p /system/bin/dhcpcd -n
    class main
    group system dhcp
    disabled
    oneshot

service enghardwaretest /system/bin/enghardwaretest
    class main
    disabled
    user root
    oneshot

on boot
    chmod 666 /dev/ttyS0
    chown system system /dev/ttyS2
    chmod 666 /dev/ttyS2
    chown system camera /dev/sprd_sensor
    chmod 660 /dev/sprd_sensor
    chown system camera /dev/sprd_image
    chmod 660 /dev/sprd_image
    chown system camera /dev/sprd_jpg
    chmod 660 /dev/sprd_jpg
    chown system camera /dev/sprd_cpp
    chmod 660 /dev/sprd_cpp
    chown system camera /dev/sprd_scale
    chmod 660 /dev/sprd_scale
    chown system camera /dev/sprd_rotation
    chmod 660 /dev/sprd_rotation
    chown system camera /dev/sprd_otp
    chmod 660 /dev/sprd_otp
#    insmod /lib/modules/bcmdhd.ko
    chmod 0664 /sys/class/switch/sleep_mode/enable_sleep_mode
    chown system system /sys/class/switch/sleep_mode/enable_sleep_mode
    chmod 0664 /sys/class/switch/sleep_mode/start_seconds
    chown system system /sys/class/switch/sleep_mode/start_seconds
    chmod 0664 /sys/class/switch/sleep_mode/end_seconds
    chown system system /sys/class/switch/sleep_mode/end_seconds

# block I/O vm.dirty parameters
    write /proc/sys/vm/dirty_background_bytes 4194304
    write /proc/sys/vm/dirty_bytes  52428800

#service download /system/bin/download
#    class core
#    user system
#    group system shell wifi bluetooth
#    oneshot

#service gnss_download /vendor/bin/gnss_download
#    class core
#    user system
#    group system
#    oneshot

service gpsd /vendor/bin/gpsd
    class core
    user system
    group gps system shell inet net_raw wifi

service fingerprintd /system/bin/fingerprintd
    class main
    user system
    group system
